html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f2f2f2;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
}

.search-button {
    margin: 20px 5px ;
    padding:  10px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}

.search-button:hover {
    cursor: pointer;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.logo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}

a:link, a:visited {
    text-decoration: none;
    color: #222;
  }

a:hover {
    text-decoration: underline;
}