html {
    height: 100%;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.tright {
    display: flex;
    align-items: center;
}

.dots {
    height: 24px;
    width: auto;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    min-height: 46px;
    padding: 0 20px;
}

.bottom a {
    padding: 15px;
    color: #70757a;
}

.bottom a:visited, a:link {
    padding: 15px;
    text-decoration: none;
    color: #70757a;
}

.top a {
    padding: 0px 15px;
}
a:link, a:visited {
    text-decoration: none;
    color: #222;
  }

a:hover {
    text-decoration: underline;
}

.nature a {
    padding: 0;
}

.nature {
    display: flex;
    align-items: center;
    padding: 15px;
}

.leaf {
    height: 25px;
    width: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.search1 {
    display: flex;
    justify-content: center;
}

.mic {
 padding-right: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 7px;
    border: 1px solid #dfe1e5;
    width: 584px;
    margin: 30px 0 8px;
}

.search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-input {
    border: transparent;
    flex-grow: 1;
}

.text {
    border: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
}

.text:focus {
    outline: none;
}

.search-button {
    margin: 20px 5px ;
    padding:  10px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}

.search-button:hover {
    cursor: pointer;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.logo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}

.sign-in {
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 20px;
    margin-right: 10px;
    min-width: 96px;
    height: 36px;
    border-radius: 4px;
    color: #fff;

}


