header {
    font-size: 14px;
    font-family: arial,sans-serif;
}
.left {
    display: inline-block;
}
.right {
    display: inline-block;
}

.center {
    display: inline-block;
}
img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}